// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

&can2 {
	status = "disabled";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";
	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy1_out>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";
	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "okay";
	/*
	 * dphy1 only used for split mode,
	 * can be used concurrently with dphy2
	 * full mode and split mode are mutually exclusive
	 */
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy1_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&gc2053_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy1_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};

&csi2_dphy2 {
	status = "okay";
	/*
	 * dphy2 only used for split mode,
	 * can be used concurrently with dphy1
	 * full mode and split mode are mutually exclusive
	 */
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy2_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&gc2093_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy2_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&mipi_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_input: endpoint@1 {
                    reg = <1>;
                    remote-endpoint = <&dphy2_out>;
                    data-lanes = <1 2>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_output: endpoint@0 {
                    reg = <0>;
                    remote-endpoint = <&cif_mipi_in>;
                    data-lanes = <1 2>;
            };
        };
    };
};

&rkcif_mipi_lvds {
    status = "okay";
    port {
        cif_mipi_in: endpoint {
            remote-endpoint = <&mipi_csi2_output>;
            data-lanes = <1 2>;
        };
    };
};

&rkcif_mipi_lvds_sditf {
    status = "okay";
    port {
        mipi_lvds_sditf: endpoint {
            remote-endpoint = <&isp1_in>;
            data-lanes = <1 2>;
        };
    };
};

&rkcif_mmu {
    status = "okay";
};

&rkcif {
    status = "okay";
};

&i2c4 {
	status = "okay";
	gc2053: gc2053@37 { //IR
		status = "okay";
		compatible = "galaxycore,gc2053";
		reg = <0x37>;

		avdd-supply = <&vcc_camera>;
		power-domains = <&power RK3568_PD_VI>;
		clocks = <&pmucru CLK_WIFI>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;

		//power-gpios = <&pca9555 PCA_IO0_3 GPIO_ACTIVE_HIGH>; //IR_PWR_EN
		power-gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>; //IR_PWR_EN
		pwdn-gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_LOW>;

		firefly,clkout-enabled-index = <1>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			gc2053_out: endpoint {
				remote-endpoint = <&dphy1_in>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2093: gc2093b@7e { //RGB
		status = "okay";
		compatible = "galaxycore,gc2093";
		reg = <0x7e>;

		avdd-supply = <&vcc_camera>;
		power-domains = <&power RK3568_PD_VI>;
		//clocks = <&pmucru CLK_WIFI>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		//pinctrl-0 = <&refclk_pins>;
		flash-leds = <&flash_led>;

		pwdn-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;

		firefly,clkout-enabled-index = <0>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			gc2093_out: endpoint {
				remote-endpoint = <&dphy2_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&flash_led {
	status = "okay";
};

&vcc_camera {
	status = "okay";
	gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&pwm11 {
	status = "okay";
	pinctrl-0 = <&pwm11m1_pins>;
};
