if TARGET_SOQUARTZ_CM4IO_RK3566

config SYS_BOARD
	default "soquartz-cm4io-rk3566"

config SYS_VENDOR
	default "pine64"

config SYS_CONFIG_NAME
	default "soquartz-cm4io-rk3566"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
